.btn-secondary {
    background-color: #6e9641;
    border-color: #6e9641;
    color: white;
}

.btn-outline-secondary:hover {
    background-color: #8abf5a; /* Lighter shade of green */
    border-color: #8abf5a;
    color: white;
}
