.btn-outline-success {
    color: #fff;
    background-color: #28a745; /* A darker shade of green */
    border-color: #28a745;
}

.btn-outline-success:hover {
    background-color: #1e7e34; /* Even darker on hover */
    border-color: #1c7430;
}

/* Sortable List Styling */
.drag-handle {
    cursor: grab;
    margin-right: 0.5rem; /* Space between handle and card */
    display: flex;
    height: 100%;
}

    /* Ensure the icon is the same height as the card */
.drag-handle i {
    font-size: 2rem; /* Adjust icon size as needed */
}

/* Card styling */
.card {
    border: 1px solid #ddd; /* Subtle border */
    font-family: 'Oswald', Arial, sans-serif; /* Updated font */
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1); /* Light shadow for depth */
    letter-spacing: 0.1rem; /* Spacing out letters slightly */
    text-transform: uppercase; /* Uppercase for a bold impact */
    margin-bottom: 0.5rem;
    font-size: 15px;
    background-color: #28a745;
    color: white;
    padding: 0.5rem;
    margin-bottom: 0.5rem; /* Space between items */
    display: flex; /* Ensure the card content is aligned */
    align-items: center;
    flex-grow: 1; /* Make card take remaining space */
}

.card:hover {
    background-color: #1e7e34; /* Darker on hover */
}

/* Flex layout adjustments */
.sortable-item {
    display: flex;
    align-items: center;
    padding: 0.2rem;
}

/* Offcanvas title styling */
.offcanvas-title {
    font-family: 'Oswald', Arial, sans-serif; /* Updated font */
    font-size: 36px; /* Slightly larger font size */
    color: #343a40;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Stronger shadow for depth */
    letter-spacing: 2px; /* More spacing for a dramatic effect */
    text-transform: uppercase; /* Uppercase for a bold impact */
    margin-bottom: 20px; /* More margin for better spacing */
    border-bottom: 2px solid #007BFF; /* Bottom border to emphasize the title */
    padding-bottom: 10px; /* Padding to separate text from border */
}